# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\OneDrive - Eotvos Lorand Tudomanyegyetem\ELTE stuff\4. felev\Szoftvertechnologia\kiralykobrak\Client\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
