image: gcc
before_script:
 - apt-get update --yes
 - apt-get install --yes cmake
 - apt-get install --yes qtbase5-dev qtdeclarative5-dev

build_tests:
  script:
    - cmake ./Server/
    - make ServerTest
    - ./tests/ServerTest
    - rm CMakeCache.txt
    - cmake ./Client/
    - ./tests/TestClient