image: ubuntu:20.04

stages:
  - build
  - test

before_script:
 - DEBIAN_FRONTEND=noninteractive apt-get update
 - DEBIAN_FRONTEND=noninteractive apt-get install --yes build-essential cmake python3.8 python3-pip
 - pip3 install aqtinstall
 - aqt install 6.0.1 linux desktop
 - export QT_DIR=./6.0.1/gcc_64/lib/cmake/


test_server:
  stage: test
  script:
    - cmake ./Server/
    - make ServerTest
    - ./tests/ServerTest


test_client:
  stage: test
  script:
    - cmake ./Client/
    - make TestClient
    - ./tests/TestClient