image: ubuntu:20.04

stages:
  - build
  - test

before_script:
 - DEBIAN_FRONTEND=noninteractive apt-get update
 - DEBIAN_FRONTEND=noninteractive apt-get install --yes doxygen
 - DEBIAN_FRONTEND=noninteractive apt-get install --yes curl
 - DEBIAN_FRONTEND=noninteractive apt-get install --yes npm
 - DEBIAN_FRONTEND=noninteractive npm install -g firebase-tools
 - DEBIAN_FRONTEND=noninteractive apt-get install --yes build-essential cmake qtbase5-dev qtdeclarative5-dev

deploy_documentation:
  stage: build
  script:
    - doxygen .doxygen
    - cp -a /documentation/html/. /documentation/FireBaseSite/
    - cd documentation/FireBaseSite
    - firebase deploy --token 1//09XmiFXI-ZVXMCgYIARAAGAkSNwF-L9Ir20kqHYtfKHus4-O4HSKaJ95OqO7Gj8eTKD6P8TEq_PYKY-hcRTiQmAk3Kp06gCZk-iE
    - cd /
   

test_server:
  stage: test
  script:
    - cmake ./Server/
    - make ServerTest
    - ./tests/ServerTest


test_client:
  stage: test
  script:
    - cmake ./Client/
    - make TestClient
    - ./tests/TestClient
