image: gcc
before_script:
 - apt-get update --yes
 - apt-get install --yes cmake
 - apt-get install --yes build-essential libgl1-mesa-dev qtbase5-dev qtdeclarative5-dev

build_tests:
  script:
    - cmake ./Server/tests/
    - ./ServerTest